/exp_results/3omics/
/exp_results/bmcite/
/exp_results/OP_Cite/
/exp_results/OP_Multiome/
/exp_results/Patch/
/exp_results/pbmc10X/
/exp_results/smFISH/
/data/3omics.h5mu.gz
/data/bmcite.h5mu.gz
/data/cell_lines_0.h5mu.gz
/data/cell_lines_1.h5mu.gz
/data/cell_lines_2.h5mu.gz
/data/cell_lines_3.h5mu.gz
/data/data_repro.zip
/data/OP_Cite.h5mu.gz
/data/OP_Multiome.h5mu.gz
/data/Patch.h5mu.gz
/data/pbmc10X.h5mu.gz
/data/smFISH.h5mu.gz
/lightning_logs/
/local_analysis/
